<nav>
    <ul>
        <li><img src="/img/pokee.png" alt="logo da pagina"></li>
        <li><h1>Pokemons</h1></li>
        <a href="/"><li>Home</a></li></a>
        <li><a href="/cadastro">Cadastro </a></li> 
         <li><a href="#cards">Pokemons</a></li> 
    </ul>
    
</nav>