<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/cadastro.css">
    <%- include ('./components/head') %>
</head>
<body>
    
  <%- include ('./components/nav') %>
  
      <main>
        <section id="cadastro">
          <img id="fotos"
            src="https://tm.ibxk.com.br/2016/08/16/16195128880838.jpg?ims=1200x675"
            alt="Imagem dos pokemons"
          />

          <section id="cadastrar">
            <h2 id="subtitulo">Cadastre um Pokemon</h2>
            
            <form action="/create" method="POST">
            
                <label for="nome">Nome:</label>
                <input type="text" id="nome" name="nome" >

                <label for="descricao">Descrição:</label>
                <input type="text" id="descricao" name="descricao">
          
                <label for="tipo">Tipo:</label>
                <input type="text" id="tipo" name="tipo">
            
                <label for="foto">Link da foto</label>
                <input type="text" id="foto" name="foto">
            
              
            
            <button class="cadastro" type="submit" >Cadastrar</button>
            
            </form>
            </section>
            <%- include ('./components/footer') %>
         
            
</body>
</html>