@import url("https://fonts.googleapis.com/css2?family=Libre+Bodoni:ital,wght@1,400;1,500;1,600;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Libre Bodoni", serif;
}

body {
  background-image: url("http://24.media.tumblr.com/dd44c0fd9446c0fc9dfa02059d3ced37/tumblr_mvqgsaLwG31s8b7jbo1_1280.gif");
}

nav {
  width: 100%;
  background-color: rgb(243, 19, 19);
  color: rgb(255, 255, 255);
}

nav ul {
  display: flex;
  align-items: center;
  list-style: none;
}

nav ul li {
  padding: 1rem;
  font-size: 1rem;
  color: rgb(255, 230, 0);
}
nav ul li a {
  text-decoration: none;
  color: aliceblue;
  font-size: 2rem;
}

h1 {
  text-align: center;
  font-size: 3rem;
}

main {
  margin: 0 15rem 0 15rem;
}

section#cards {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 6rem;
  background-color: rgb(241, 240, 156);
}

section#cards div.card {
  width: 20rem;
  box-shadow: 7px 5px 7px 5px rgb(49, 16, 16);
  padding: 2rem;
  margin-top: 2rem;
  border-radius: 10%;
}

section#cards div.card img {
  width: 100%;
}

section#cards div.card h2 {
  margin-bottom: 1rem;
}

section#cards div.card p {
  margin-bottom: 1rem;
}

footer {
  background-color: black;
  color: white;
  text-align: center;
}

.modal-overlay {
  background-color: rgba(16, 26, 26, 0.541);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal {
    margin: 1rem;
    width: 100%;
    height: auto;
    background-color: aquamarine;
    border-radius: 11px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.modal-header {
    display: flex;
    justify-content: space-between;
    background-color: #dc0a2d;
    padding: 1rem;
    color: #fff;
  }
  
  .modal-header a#close-modal-put {
    font-size: 1.4rem;
    color: #fff;
    text-decoration: none;
  }
  
  .modal-body {
    padding: 0.5rem 1rem;
    flex: 1;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
  }
  
  .form-modal {
    display: flex;
    flex-wrap: wrap;
  }
  
  .form-modal input {
    width: 100%;
    padding: 0.5rem;
    font-size: 0.8rem;
    outline: none;
    border: solid 2px #ccc;
  }
  
  .form-modal label {
    color: rgb(112, 112, 112);
    padding-top: 0.5rem;
  }
  
  .form-modal button {
    padding: 0.6rem;
    width: 30%;
    display: flex;
    justify-content: center;
    margin: 1rem auto;
    font-size: 1rem;
    background-color: #fff;
    color: #40af00;
    border: solid 1px #40af00;
    border-radius: 3px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  
  .form-modal button:hover {
    background-color: #40af00;
    color: #fff;
  }
  
  .modal-body p {
    width: 100%;
    font-size: 1.5rem;
    text-align: center;
  }
  
  div#btns-del {
    display: flex;
    margin: 0 auto;
  }
  
  div#btns-del a {
    padding: 0.7rem;
    text-decoration: none;
    width: 100%;
    margin: 2rem 1rem 1rem;
    border-radius: 3px;
  }
  
  div#btns-del a#no {
    color: #dc0a2d;
    border: solid 1px #dc0a2d;
    transition: all 0.3s ease-in-out;
  }
  
  div#btns-del a#no:hover {
    color: #fff;
    background-color: #dc0a2d;
  }
  
  div#btns-del a#yes {
    color: #40af00;
    border: solid 1px #40af00;
    transition: all 0.3s ease-in-out;
  }
  
  div#btns-del a#yes:hover {
    color: #fff;
    background-color: #40af00;
  }
  
@media screen and (max-width: 480px) {
  body {
    max-width: 480px;
    font-size: 1rem;
  }
}
